NODE_ENV=development
PORT=3000

# PostgreSQL
POSTGRES_USER=pguser
POSTGRES_PASSWORD=pgpassword
POSTGRES_DB=payments_gateway
DATABASE_URL=postgresql://pguser:pgpassword@localhost:5432/payments_gateway

# Redis
REDIS_URL=redis://localhost:6379

# RabbitMQ
RABBITMQ_USER=rabbit
RABBITMQ_PASSWORD=rabbitpassword
RABBITMQ_URL=amqp://rabbit:rabbitpassword@localhost:5672

# Webhooks
WEBHOOK_SECRET=troque-por-um-segredo-forte
